div {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    color: 'red';
    font-size: 5rem;
}

textarea {
    font-family: 'Noto Sans KR';
    wrap: 'soft'; 
    resize: none;
    outline: none;
}