div {
    font-family: 'Noto Sans KR', sans-serif;
}

.dark {
    color: #FAFAFA;
    background-color: #363537;
}

.light {
    color: #363537;
    background-color: #FAFAFA;
}

textarea {
    font-family: 'Noto Sans KR';
    resize: none;
    outline: none;
}